* {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

:root {
    /* Color */
    --primary: #dc3545;
    --light: #F1F8FF;
    --dark: #0F172B;
    --grey: rgba(243,244,245,255);
    /* transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    --tran-06: all 0.6s ease;
    --tran-07: all 0.7s ease;
    --tran-08: all 0.8s ease;
}
/* agar teksnya ada border */
/* .text-stroke{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
} */

.title-name-app {
    color: aliceblue;
}

.fs-12{
    font-size: 12px;
}

select:focus{
    outline: none !important;
    border: 0.5px solid var(--primary);
}

.rounded{
    border-radius: 15px !important;
}
.rounded-sm{
    border-radius: 6px !important;
}

.shadow-sm{
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.is-available{
    width: 120px;
    /* height: 30px; */
    padding: 5px;
}

.text-decoration-none {
    text-decoration: none;
    color: white;
}

.btn-link{
    text-decoration: none;
    color: white;
}
.btn-link:hover{
    filter: brightness(70%);
    color: white;
}

.red-underline {
    border-bottom: 3px solid red;
}

.nav-link {
    position: relative; /* Memastikan posisi relatif */
    overflow: hidden; /* Memastikan overflow tersembunyi */
    transition: width 0.2s ease-in-out; /* Transisi lebar */
}

.nav-link::before {
    content: ""; /* Konten tambahan kosong */
    position: absolute; /* Posisi absolut */
    bottom: 0; /* Geser ke bawah */
    left: 0; /* Geser ke kiri */
    width: 100%; /* Lebar awal */
    height: 3px; /* Ketebalan border bottom */
    background-color: red; /* Warna border bottom */
    transform: scaleX(0); /* Skala awal */
    transform-origin: left; /* Asal transformasi di kiri */
    transition: transform 0.2s ease-in-out; /* Transisi transform */
}

.nav-link:hover::before,
.nav-link.underline::before {
    transform: scaleX(1); /* Skala ke kanan */
    transition-delay: 0.2s; /* Tunda transisi */
}

.bold-text {
    font-weight: bold;
}

.text-justify {
    text-align: justify;
}

.discount-item {
    transition: box-shadow .3s;
    min-width: 300px;
    height: 200px;
    margin: 50px;
    border-radius: 10px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.discount-container {
    width: 100%;
    overflow-x: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.discount-item:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) !important;
    transition: var(--tran-04);
}

/* CSS */
.badge {
    background-color: red;
    /* Warna latar belakang badge */
    color: white;
    /* Warna teks pada badge */
    border-radius: 50%;
    /* Untuk membuat badge menjadi bulat */
    font-size: 10px;
    /* Ukuran font teks pada badge */
    position: relative;
    /* Mengatur posisi absolut pada tautan */
    bottom: 12;
    /* Mengatur posisi badge di bagian atas */
    left: 5px;
    /* Mengatur posisi badge di bagian kanan */
}

.product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-item:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) !important;
    transition: var(--tran-04);
}

.product-item-image{
    min-width: 100%;
    max-height: 180px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.width-auto{
    width: auto !important;
}

.btn-hover-up{
    transition: transform 0.4s ease;
}

.btn-hover-up:hover{
    transform: translateY(-3px);
}

/* Template CSS */
/* .ff-secondary{
    font-family: 'Pacifico', cursive;
} */

.back-to-top{
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 5;
}

.dropdown-menu {
    z-index: 105000; /* Pastikan cukup tinggi */
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 15px;
    color: var(--light);
    text-transform: uppercase;
    transition: .3s linear;
}

.title-name-app{
    transition: .3s ease-in;
}


.hero-header {
    position: relative; /* Pastikan posisi relatif */
}

.hero-header::before {
    content: ""; /* Konten tambahan kosong */
    position: absolute; /* Jadikan posisi absolut */
    top: 0; /* Geser ke atas */
    left: 0; /* Geser ke kiri */
    width: 100%; /* Lebar gambar */
    height: 100%; /* Tinggi gambar */
    background-image: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(image/restaurant-4.jpeg); /* Atur latar belakang dengan gambar */
    background-position: center center; /* Posisi latar belakang */
    background-repeat: no-repeat; /* Hindari pengulangan latar belakang */
    background-size: cover; /* Atur ukuran latar belakang */
    z-index: -1; /* Pastikan gambar berada di bawah elemen lain */
}

.dropdown-menu{
    z-index: 99999999999 !important;
}

.search-form-collapse{
    display: none;
}

.search-form{
    display: flex;
    align-items: center;
    color: auto;
    border-radius: 5px;
    /* border: 1px solid white; */
    /* outline: none; */
    width: 200px;
    height: 30px;
    box-sizing: border-box;
    /* background-color: rgba(69,69,69,255); */
}

.dropdown-menu.show {
    display: block !important;
}

/* 
#searchForm:hover .search-form-wrapper{
    display: flex !important;
    opacity: 1 !important;
    visibility: visible !important;
    width: 16%;
    transition: 0.8s;
} */

.search-form:focus{
    outline: none !important;
    border: 1px solid var(--primary) !important;
}

/* .search-form::placeholder{
    color: white !important;
} */

.notification-menu{
    width: 350px; /* Lebar dropdown */
    max-height: 400px; /* Tinggi maksimal sebelum muncul scroll */
    overflow-y: auto; /* Aktifkan scroll jika konten melebihi batas */
    border-radius: 10px;
    background-color: #212121; /* Warna latar belakang dropdown */
}

.fs-smaller{
    font-size: smaller;
}

.text-transform-none{
    text-transform: none;
}

.text-ellipsis{
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: #dc3545;
    border-radius: 50%;
    display: inline-block;
}

.cart-menu {
    width: 400px; /* Lebar dropdown */
    max-height: 400px; /* Tinggi maksimal sebelum muncul scroll */
    overflow-y: auto; /* Aktifkan scroll jika konten melebihi batas */
    border-radius: 10px;
    background-color: #212121; /* Warna latar belakang dropdown */
}

.cart-header {
    border-bottom: 1px solid #444; /* Garis bawah untuk header */
    padding-bottom: 5px;
}

.cart-items-wrapper {
    margin-top: 10px;
    max-height: 300px; /* Batas tinggi daftar item */
    overflow-y: auto; /* Scrollable */
}

.cart-item {
    display: flex;
    gap: 10px;
    padding: 5px 0;
}

.cart-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.text-decoration-line-through {
    color: #9e9e9e; /* Warna teks dicoret */
}

.user-wrapper{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--dark);
    width: 100px;
    right: 70px;
    top: 55px;
    z-index: 5;
    /* max-height: 500px; */
    border: 2px solid var(--primary);
    border-radius: 5px;
    visibility: hidden;
}

#user{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user-collapse{
    display: none;
}

.user-list{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 30px;
    /* border: 1px solid white; */
    border-radius: 5px;
}

.user-list:hover{
    background-color: rgba(69,69,69,255);
}

#user:hover .user-wrapper{
    display: flex;
    visibility: visible;
}

.quantity-wrapper{
    width: 100px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0.5px solid var(--primary);
}

.quantity-wrapper input{
    border: none;
    width: 40px;
}

.quantity-wrapper input:focus{
    outline: none;
    border: 1px solid var(--primary) !important;
}

.modal-img{
    width: 100px;
    margin-top: -60px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.shopping-cart-img{
    width: 80px;
}

.image-product-checkout{
    width: 80px;
    height: 80px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    /* margin-top: 10px; */
    margin: 0;
    padding: 0;
    /* margin-bottom: 10px; */
}

.delivery-option-wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.delivery-option{
    display: none;
}

.delivery-label,
.take-away-label{
    position: relative;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.delivery-label::before,
.take-away-label::before{
    content: "";
    height: 20px;
    width: 20px;
    border: 3px solid var(--primary);
    border-radius: 50%;
    margin-right: 10px;
}

.delivery-option:checked + .delivery-label,
.delivery-option:checked + .take-away-label{
    background-color: var(--primary);
    color: white;
}
.delivery-option:checked + .delivery-label::before,
.delivery-option:checked + .take-away-label::before{
    height: 16px;
    width: 16px;
    border: 5px solid white;
    background-color: var(--primary);
}

.discount-option{
    height: 40px;   
}

.discount-input{
    height: 40px;
    width: 70%;
}

.discount-input:focus{
    border: 1px solid red !important;
    outline: none !important;
    /* box-shadow: 0 0 10px #719ECE; */
}

.modal-body-discount-wrapper{
    max-height: 350px;
    overflow-y: auto;
}

.modal-body-discount{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.search-bar-wrapper{
    width: 280px;
    /* height: 50px; */
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.search-bar-wrapper input{
    width: 250px;
    height: 32px;
    border-radius: 6px;
    border: none; 
}

.search-bar-wrapper input:focus{
    outline: none !important;
}

.form-select{
    width: 30%;
}

.input-date{
    background-color: white;
    outline: none;
    height: 40px;
    width: 20%;
    border-radius: 6px;
    font-weight: 500;
    padding: 15px;
}

::-webkit-calendar-picker-indicator{
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border: 0.5px solid var(--primary);
    border-radius: 5px;
}

.badge-success{
    letter-spacing: 1.5px;
    font-size: 11px;
    color: rgba(3,172,13,255) !important;
    background-color: rgba(214,253,222,255);
}

.badge-failed{
    letter-spacing: 1.5px;
    font-size: 11px;
    color: white !important;
    background-color: var(--primary);
}

.badge-grey{
    letter-spacing: 1.5px;
    font-size: 11px;
    color: white !important;
    background-color: rgba(105,109,120,255);
}

.dashed-hr{
    border-style: dashed;
    width: 100%;
    margin: 0;
}

.transaction-detail-modal{
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
}

.select-all{
    height: 40px;  
}
.profile-simple{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.profile-simple img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.list-none{
    list-style: none;
}

.nav-customers ul li{
   height: 55px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.nav-customers ul li a i{
    margin-right: 10px;
}

.nav-customers ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: rgba(243,244,245,255);
    height: 35px;
    width: 90%;
    margin: 0;
    border-radius: 6px;
}
.nav-customers ul li a i{
    margin-left: 12px;
}

.nav-customers ul li a:hover,
.nav-customers ul li a:hover .nav-customers ul li a i{
    background-color: var(--primary);
    color: white !important;
}

.nav-customers ul li a.active{
    background-color: var(--primary);
    color: white !important;
}

.profile-simple:hover{
    background-color: rgba(243,244,245,255);
}

.fa-star{
    color: orange;
}

.average-stars{
    padding: 5px;
    border-radius: 5px;
}

.average-stars:hover{
    background-color: rgba(243,244,245,255);
}

.review-item-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-item img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.display-review-button{
    transition: var(--tran-03);
}

.display-review-button:hover{
    transform: translateY(-3px);
}

/* #displayReview{
    transition: transform 0.3s ease;
} */

#displayReview.hide{
    display: none !important;
}

.star-widget input{
    display: none;
}

.star-widget label{
    color: var(--grey);
    cursor: pointer;
    transition: all 0.3s ease;
    float: right;
}

.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label{
    color: orange;
}

.star-widget input:checked ~ label {
    color: orange;
}

.review-form-wrapper form header{
    width: 100%;
    font-size: 15px;
    color: var(--primary);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-text-area textarea{
    border: 2px solid var(--grey);
    font-size: 15px !important;
    font-weight: 500;
    height: 100px;
    border-radius: 5px;
    resize: none;
}
.review-text-area textarea:focus{
    outline: none;
    border: 2px solid var(--primary);
}

#rate-1:checked ~ header:before{
    content: "Sangat Buruk 😭";
}
#rate-2:checked ~ header:before{
    content: "Buruk 🥲";
}
#rate-3:checked ~ header:before{
    content: "Cukup 😁";
}
#rate-4:checked ~ header:before{
    content: "Baik 😊";
}
#rate-5:checked ~ header:before{
    content: "Sangat Baik 🤩";
}

.select-profile-picture{
    width: 280px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.select-profile-picture img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.upload-profile-image-button{
    display: none;
}

.upload-profile-image-button ~ label{
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    color: white;
    width: 95%;
    border-radius: 6px;
    cursor: pointer;
}

.image-section-login img{
    width: 100%;
    height: 100dvh !important;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
}

.image-section-login h1{
    position: absolute;
    color: white;
    z-index: 1;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.or-login-with{
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 180px;
    text-align: center;
}

.login-with-google{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 290px;
    border-radius: 40px 40px 40px 40px; /* Radius untuk sudut kiri atas, kanan atas, kanan bawah, dan kiri bawah */
    cursor: pointer;
}

.login-with-google:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

input[type="email"]:focus{
    outline: none !important;
    border: 1px solid var(--primary) !important;
    box-shadow: none;
}

input[type="password"]:focus{
    outline: none !important;
    border: 1px solid var(--primary) !important;
    box-shadow: none;
}

.email-verification{
    width: auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.verification-code-input{
    height: 80px;
    font-size: 40px;
    width: 150px;
    border-top: none;
    border-left: none;
    border-right: none;
    letter-spacing: 5px;
    border-bottom: 2px solid var(--primary);
}

.verification-code-input:focus{
    outline: none !important;
    /* border: 1px solid var(--primary); */
}

#mapIndex{
    height: 350px;
    width: 550px;
}

#mapOrder{
    height: 350px;
    width: 620px;
}

.whatsapp-btn{
    position: fixed; /* Tetap di posisi yang sama */
    bottom: 20px; /* Jarak dari bawah halaman */
    right: 30px; /* Jarak dari sisi kanan halaman */
    z-index: 10; /* Pastikan tombol berada di atas konten lainnya */
    border: none; /* Tanpa border */
    outline: none; /* Tanpa outline */
    background-color: rgba(37,211,102,255); /* Warna background */
    color: white; /* Warna teks */
    cursor: pointer; /* Menjadi pointer saat hover */
    border-radius: 50%; /* Sudut membulat */
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in;
}

.whatsapp-btn:hover{
    transform: translateY(-4px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#btnToUp{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* Tetap di posisi yang sama */
    bottom: 100px; /* Jarak dari bawah halaman */
    right: 33px; /* Jarak dari sisi kanan halaman */
    z-index: 10; /* Pastikan tombol berada di atas konten lainnya */
    border: none; /* Tanpa border */
    outline: none; /* Tanpa outline */
    background-color: var(--primary); /* Warna background */
    color: white; /* Warna teks */
    cursor: pointer; /* Menjadi pointer saat hover */
    border-radius: 10px; /* Sudut membulat */
    height: 55px;
    width: 55px;
    filter: opacity(0.2);
}

#btnToUp:hover{
    filter: opacity(1);
}

 /* Media Navbar */ 
 @media (max-width: 1199px) {
    #mapOrder{
        width: 500px;
    }
}
 @media (max-width: 991px) {
    #mapOrder{
        width: 370px;
    }
}
 @media (max-width: 990px) {
    .image-section-login{
        display: none;
    }
    .nav-link{
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .nav-link:hover{
        background-color: rgba(69,69,69,255);
    }
    #searchForm{
        display: none;
    }
    .fa-bell{
        display: none;
    }
    
    .notification-text-collapse{
        display: block;
    }
    #notification{
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #notification:hover .notification-wrapper{
        display: none !important;
        visibility: hidden !important;
    }
    #cart{
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #cart i{
        display: none;
    }
    .cart-text-collapse{
        display: block;
    }
    #cart:hover .cart-wrapper{
        display: none !important;
        visibility: hidden !important;
    }
    .search-form-collapse{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .search-form-collapse form{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .search-form-collapse input{
        width: 70%;
    }
    #user {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #user p{
        max-width: 200px !important;
        /* border: 1px solid white; */
        padding-left: 10px;
    }
    .user-wrapper{
        display: none !important;
        visibility: hidden !important;
    }

    .navbar{
        border-bottom: 1px solid rgba(69,69,69,255);
    }
}

.dropdown-menu {
    background-color: #343a40; /* Set warna background dark */
}

.dropdown-menu a.dropdown-item:hover {
    background-color: #343a40 !important; /* Pastikan warna background tetap gelap saat hover */
    color: white; /* Set warna teks agar terlihat jelas */
}