* {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

:root {
    /* Color */
    --primary: #dc3545;
    --light: #F1F8FF;
    --dark: #0F172B;
    /* transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    --tran-06: all 0.6s ease;
    --tran-07: all 0.7s ease;
    --tran-08: all 0.8s ease;
}
/* agar teksnya ada border */
/* .text-stroke{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
} */

.title-name-app {
    color: aliceblue;
}

.rounded{
    border-radius: 15px !important;
}
.rounded-sm{
    border-radius: 6px !important;
}

.shadow-sm{
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.is-available{
    width: 120px;
    /* height: 30px; */
    padding: 5px;
}

.text-decoration-none {
    text-decoration: none;
    color: white;
}

.btn-link{
    text-decoration: none;
    color: white;
}
.btn-link:hover{
    filter: brightness(70%);
    color: white;
}

.red-underline {
    border-bottom: 3px solid red;
}

.nav-link {
    position: relative; /* Memastikan posisi relatif */
    overflow: hidden; /* Memastikan overflow tersembunyi */
    transition: width 0.2s ease-in-out; /* Transisi lebar */
}

.nav-link::before {
    content: ""; /* Konten tambahan kosong */
    position: absolute; /* Posisi absolut */
    bottom: 0; /* Geser ke bawah */
    left: 0; /* Geser ke kiri */
    width: 100%; /* Lebar awal */
    height: 3px; /* Ketebalan border bottom */
    background-color: red; /* Warna border bottom */
    transform: scaleX(0); /* Skala awal */
    transform-origin: left; /* Asal transformasi di kiri */
    transition: transform 0.2s ease-in-out; /* Transisi transform */
}

.nav-link:hover::before,
.nav-link.underline::before {
    transform: scaleX(1); /* Skala ke kanan */
    transition-delay: 0.2s; /* Tunda transisi */
}

.bold-text {
    font-weight: bold;
}

.text-justify {
    text-align: justify;
}

.discount-item {
    transition: box-shadow .3s;
    min-width: 300px;
    height: 200px;
    margin: 50px;
    border-radius: 10px;
    background: #fff;
    float: left;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.discount-container {
    width: 100%;
    overflow-x: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.discount-item:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) !important;
    transition: var(--tran-04);
}

/* CSS */
.badge {
    background-color: red;
    /* Warna latar belakang badge */
    color: white;
    /* Warna teks pada badge */
    border-radius: 50%;
    /* Untuk membuat badge menjadi bulat */
    font-size: 10px;
    /* Ukuran font teks pada badge */
    position: relative;
    /* Mengatur posisi absolut pada tautan */
    bottom: 12;
    /* Mengatur posisi badge di bagian atas */
    left: 5px;
    /* Mengatur posisi badge di bagian kanan */
}

.product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-item:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) !important;
    transition: var(--tran-04);
}

.product-item-image{
    min-width: 100%;
    max-height: 180px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.width-auto{
    width: auto !important;
}

.btn-hover-up{
    transition: transform 0.4s ease;
}

.btn-hover-up:hover{
    transform: translateY(-3px);
}

/* Template CSS */
/* .ff-secondary{
    font-family: 'Pacifico', cursive;
} */

.back-to-top{
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 5;
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 15px;
    color: var(--light);
    text-transform: uppercase;
    transition: .3s linear;
}

.title-name-app{
    transition: .3s ease-in;
}


.hero-header {
    position: relative; /* Pastikan posisi relatif */
    overflow: hidden; /* Pastikan overflow tersembunyi untuk gambar */
}

.hero-header::before {
    content: ""; /* Konten tambahan kosong */
    position: absolute; /* Jadikan posisi absolut */
    top: 0; /* Geser ke atas */
    left: 0; /* Geser ke kiri */
    width: 100%; /* Lebar gambar */
    height: 100%; /* Tinggi gambar */
    background-image: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(image/restaurant-4.jpeg); /* Atur latar belakang dengan gambar */
    background-position: center center; /* Posisi latar belakang */
    background-repeat: no-repeat; /* Hindari pengulangan latar belakang */
    background-size: cover; /* Atur ukuran latar belakang */
    z-index: -1; /* Pastikan gambar berada di bawah elemen lain */
}

.search-form-wrapper{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    right: 240px;
    top: 55px;
    width: 170px !important;
    height: 50px;
    background-color: var(--primary);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
}

.search-form-collapse{
    display: none;
}

.search-form{
    display: block;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    transition: border-color 0.3 ease;
    outline: none;
    width: 150px;
    box-sizing: border-box;
    background-color: rgba(69,69,69,255);
}

#searchForm:hover .search-form-wrapper{
    display: flex !important;
    opacity: 1 !important;
    visibility: visible !important;
    width: 16%;
    transition: 0.8s;
}

.search-form:focus{
    border: 1px solid var(--primary) !important;
}

.search-form::placeholder{
    color: white !important;
}


.notification-wrapper{
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: var(--dark);
    width: 320px;
    right: 80px;
    top: 55px;
    z-index: 5;
    /* max-height: 500px; */
    border: 2px solid var(--primary);
    border-radius: 5px;
    visibility: hidden;
}

.notification-wrapper-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-height: 500px;
    overflow-y: auto;
}

.notification-text-collapse{
    display: none;
}

.notification{
    /* border: 0.2px solid white; */
    height: 110px;
    width: 300px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px;
}

.notification:hover{
    background-color: rgba(69,69,69,255);
}

#notification:hover .notification-wrapper{
    display: flex !important;
    visibility: visible !important;
    transition: 0.8s;
}

.see-notification-all{
    height: 30px;
    /* border: 1px solid var(--primary); */
}

.fs-smaller{
    font-size: smaller;
}

.text-transform-none{
    text-transform: none;
}

.text-ellipsis{
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: #dc3545;
    border-radius: 50%;
    display: inline-block;
}

.cart-wrapper{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--dark);
    width: 370px;
    right: 10px;
    top: 55px;
    z-index: 5;
    /* height: 500px; */
    border: 2px solid var(--primary);
    border-radius: 5px;
    visibility: hidden;
}

.cart-wrapper-inside{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 500px;
    overflow-y: auto;
}

.cart-text-collapse{
    display: none;
}
 
.cart-item{
    /* border: 0.2px solid white; */
    height: 90px;
    width: 350px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px;
}

.cart-item:hover{
    background-color: rgba(69,69,69,255);
}

.image-cart-size{
    width: 75px;
    height: 75px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

#cart:hover .cart-wrapper{
    display: flex !important;
    visibility: visible !important;
}

.user-wrapper{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--dark);
    width: 100px;
    right: 70px;
    top: 55px;
    z-index: 5;
    /* max-height: 500px; */
    border: 2px solid var(--primary);
    border-radius: 5px;
    visibility: hidden;
}

#user{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user-collapse{
    display: none;
}

.user-list{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 30px;
    /* border: 1px solid white; */
    border-radius: 5px;
}

.user-list:hover{
    background-color: rgba(69,69,69,255);
}

#user:hover .user-wrapper{
    display: flex;
    visibility: visible;
}

.quantity-wrapper{
    width: 100px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0.5px solid var(--primary);
}

.quantity-wrapper input{
    border: none;
    width: 40px;
}

.quantity-wrapper input:focus{
    border: 1px solid var(--primary) !important;
}

.modal-img{
    width: 100px;
    margin-top: -60px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.shopping-cart-img{
    width: 80px;
}

.image-product-checkout{
    width: 80px;
    height: 80px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    /* margin-top: 10px; */
    margin: 0;
    padding: 0;
    /* margin-bottom: 10px; */
}

.delivery-option-wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.delivery-option{
    display: none;
}

.delivery-label,
.take-away-label{
    position: relative;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.delivery-label::before,
.take-away-label::before{
    content: "";
    height: 20px;
    width: 20px;
    border: 3px solid var(--primary);
    border-radius: 50%;
    margin-right: 10px;
}

.delivery-option:checked + .delivery-label,
.delivery-option:checked + .take-away-label{
    background-color: var(--primary);
    color: white;
}
.delivery-option:checked + .delivery-label::before,
.delivery-option:checked + .take-away-label::before{
    height: 16px;
    width: 16px;
    border: 5px solid white;
    background-color: var(--primary);
}

.discount-option{
    height: 40px;   
}

.discount-input{
    height: 40px;
    width: 70%;
}

.discount-input:focus{
    border: 1px solid red !important;
    outline: none !important;
    /* box-shadow: 0 0 10px #719ECE; */
}

.modal-body-discount-wrapper{
    max-height: 400px;
    overflow-y: auto;
}

.modal-body-discount{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.search-bar-wrapper{
    width: 280px;
    /* height: 50px; */
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.search-bar-wrapper input{
    width: 250px;
    height: 32px;
    border-radius: 6px;
    border: none;
    
}

.search-bar-wrapper input:focus{
    outline: none !important;
}


 /* Media Navbar */ 


 @media (max-width: 990px) {
    .nav-link{
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .nav-link:hover{
        background-color: rgba(69,69,69,255);
    }
    #searchForm{
        display: none;
    }
    .fa-bell{
        display: none;
    }
    .search-form-wrapper{
        visibility: visible !important;
        display: flex !important;
        left: 5px !important;
    }
    .search-form{
        display: flex;
    }
    
    .notification-text-collapse{
        display: block;
    }
    #notification{
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #notification:hover .notification-wrapper{
        display: none !important;
        visibility: hidden !important;
    }
    #cart{
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #cart i{
        display: none;
    }
    .cart-text-collapse{
        display: block;
    }
    #cart:hover .cart-wrapper{
        display: none !important;
        visibility: hidden !important;
    }
    .search-form-collapse{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .search-form-collapse form{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .search-form-collapse input{
        width: 70%;
    }
    #user {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #user p{
        max-width: 200px !important;
        /* border: 1px solid white; */
        padding-left: 10px;
    }
    .user-wrapper{
        display: none !important;
        visibility: hidden !important;
    }

    .navbar{
        border-bottom: 1px solid rgba(69,69,69,255);
    }
}